#Thu Jan 30 11:00:16 MSK 2020

DB_URL=jdbc:postgresql://localhost/postgres
DB_USER=postgres
DB_PASSWORD=123
DB_DRIVER=org.postgresql.Driver

CREATE_SQL=CREATE TABLE vacancies (id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
city VARCHAR(26) DEFAULT 'Moscow', company VARCHAR(45),experience INT DEFAULT 0,
postingdate DATE, salary INT DEFAULT 0, url VARCHAR(45) ADD constraint no_duplix UNIQUE(url));

CREATE_SQL_2=CREATE TABLE skills(idskills INT NOT NULL REFERENCES vacanxies(id),
ajax BOOLEAN, css BOOLEAN, ejb BOOLEAN, generics BOOLEAN, hibernate BOOLEAN
, html BOOLEAN, java8 BOOLEAN, javascript BOOLEAN, junit BOOLEAN, log4j BOOLEAN
, mongodb BOOLEAN, nosql BOOLEAN, oracle BOOLEAN, postgres BOOLEAN, spring BOOLEAN
, sql BOOLEAN, ui BOOLEAN);

PAGE1=https://hh.ru/search/vacancy?area=1&st=searchVacancy&text=Java+junior&from=suggest_post