#Thu Jan 30 11:00:16 MSK 2020

DB_URL=jdbc:h2:~/test
DB_USER=sa
DB_PASSWORD=
DB_DRIVER=org.h2.Driver

CREATE_DB_VACANCIES=CREATE TABLE IF NOT EXISTS vacancies(id INT NOT NULL PRIMARY KEY AUTO_INCREMENT, city VARCHAR(26) DEFAULT 'Moscow', company VARCHAR(45),experience INT DEFAULT 0, postingdate DATE, salary INT DEFAULT 0, url VARCHAR(45), UNIQUE(url) );

CREATE_DB_SKILLS=CREATE TABLE skills(idskills INT NOT NULL REFERENCES vacancies(id), ajax BOOLEAN, css BOOLEAN, ejb BOOLEAN, generics BOOLEAN, hibernate BOOLEAN, html BOOLEAN, java8 BOOLEAN, javascript BOOLEAN, junit BOOLEAN, log4j BOOLEAN, mongodb BOOLEAN, nosql BOOLEAN, oracle BOOLEAN, postgres BOOLEAN, spring BOOLEAN, sql BOOLEAN, ui BOOLEAN, core BOOLEAN);

PAGE1=https://hh.ru/search/vacancy?area=1&st=searchVacancy&text=Java+junior&from=suggest_post