#Thu Jan 30 11:00:16 MSK 2020

DB_URL=jdbc:h2:tcp://localhost/~/test
DB_USER=sa
DB_PASSWORD=
DB_DRIVER=org.h2.Driver

CREATE_DB_VACANCIES=CREATE TABLE IF NOT EXISTS vacancies(id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,salary INT DEFAULT 0,experience INT DEFAULT 0,company VARCHAR(255),city VARCHAR(255) DEFAULT ' ',url VARCHAR(255), postingdate DATE );

CREATE_DB_SKILLS=CREATE TABLE  IF NOT EXISTS skill(id INT , name VARCHAR(255) NOT NULL, FOREIGN KEY(id) REFERENCES vacancies(id) ON DELETE CASCADE);

PAGE1=https://hh.ru/search/vacancy?area=1&st=searchVacancy&text=Java+junior&from=suggest_post